APP_NAME=ClaVel
APP_ENV=development
APP_PORT=8080

# Rutas locales
DB_PATH=storage/clavel.db

# Credenciales de BD (si usas Postgres/MySQL)
DB_HOST=127.0.0.1
DB_DATABASE=mi_tienda
DB_USER=root
DB_PASS=secreta
